<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

    <mat-form-field class="example-full-width">
  
      <input matInput type="email" placeholder="Email" formControlName="email">
  
      <mat-error *ngIf="submitted && loginForm.controls['email'].untouched"> Enter Email Id </mat-error>
      <mat-error *ngIf="submitted && (loginForm.controls['email'].dirty && loginForm.controls['email'].invalid)"> Invalid Email Id </mat-error>
  
    </mat-form-field>
  
    <h4> Home Contact </h4>

    <div formGroupName="homePhone">
      <mat-form-field class="marginRight">
        <mat-select placeholder="code" formControlName="code">
          <mat-option *ngFor="let x of code" [value]="x">
            {{x}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="contact" formControlName="contact">
      </mat-form-field>
    </div>

    <h4> Office Contact </h4>
    
    <div formGroupName="OfficePhone">
      <mat-form-field class="marginRight">
        <mat-select placeholder="code" formControlName="code">
          <mat-option *ngFor="let x of code" [value]="x">
            {{x}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="contact" formControlName="contact">
      </mat-form-field>
    </div>
  
    <div class="example-button-row">
      <button mat-raised-button color="primary" type="submit">Primary</button>
    </div>
  
    <br><br>
  
    <mat-toolbar> {{loginForm.value | json}} </mat-toolbar>
    <mat-toolbar> Form Status : {{formStatus}} </mat-toolbar>
  
  </form>