<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

    <mat-form-field class="example-full-width">
  
      <input matInput type="email" placeholder="Email" formControlName="email">
  
      <mat-error *ngIf="submitted && loginForm.controls['email'].untouched"> Enter Email Id </mat-error>
      <mat-error *ngIf="submitted && (loginForm.controls['email'].dirty && loginForm.controls['email'].invalid)"> Invalid Email Id </mat-error>
  
    </mat-form-field>
  
    <h4> Contact </h4>

    <div formArrayName="phones">
      <div *ngFor="let phone of phoneForms.controls; let i = index" [formGroupName]="i">
        <mat-form-field class="marginRight">
          <mat-select placeholder="code" formControlName="code">
            <mat-option *ngFor="let x of code" [value]="x">
              {{x}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="contact" formControlName="contact">
        </mat-form-field>
        <button mat-icon-button (click)="deletePhoneForm(i)">
            <mat-icon aria-label="delete" color="warn">remove_circle</mat-icon>
          </button>
        </div>
    </div>

    <a mat-raised-button color="primary" (click)="addPhoneForm()">Add Phone</a>
  
    <br>

    <div class="example-button-row">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  
    <br><br>
  
    <p> <span class="wordWrap"> {{loginForm.value | json}} </span></p>
    <p> Form Status : {{formStatus}} </p>
  
  </form>