<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Reactive Forms</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/simple" routerLinkActive="active">Simple Form Validation</a>
      <a mat-list-item routerLink="/nested" routerLinkActive="active">Nested Form Validation</a>
      <a mat-list-item routerLink="/dynamic" routerLinkActive="active">Dynamic Form Validation</a>
      <a mat-list-item routerLink="/root" routerLinkActive="active">Root Navigation</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>  
    <div class="padding">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
