<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

  <mat-form-field class="example-full-width">
    <input matInput type="email" placeholder="Email" formControlName="email">

    <mat-error *ngIf="submitted && loginForm.controls['email'].untouched"> Enter Email Id </mat-error>

    <mat-error *ngIf="submitted && (loginForm.controls['email'].dirty && loginForm.controls['email'].invalid)"> Invalid Email Id </mat-error>

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Password" formControlName="password">
    
    <mat-error *ngIf="submitted && loginForm.controls['password'].invalid"> Password length should be grater than 6 </mat-error>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary" type="submit">Primary</button>
  </div>

  <br><br>

  <mat-toolbar> {{loginForm.value | json}} </mat-toolbar>

</form>