/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
    text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
    margin-top: 5%;
}

.example-button-row button {
    margin-right: 8px;
    margin-top: 5%;
}

.marginRight {
    margin-right: 5% !important;
}

.marginLeft {
    margin-left: 5% !important;
}

.marginRightPx {
    margin-right: 10px !important;
}

.marginLeftPx {
    margin-left: 10px !important;
}
